input {
	margin : 10px;
}

#main-content {
	height: 100%;
	padding: 40px;
}

#app-toolbar{
	position: fixed;
}

#visualize {
	margin-left: 12.5%;
  width: 75%;
  height: 25%;
}

#app-footer {
	position : fixed;
	bottom: 0;
	z-index: 1000000;
}
